.App {
  font-family: 'Montserrat', sans-serif;
}

.backgroundImage {
  background-image: url('/assets/background_images/shutterstock_286553204.jpg');
  background-position: center;
  background-size: cover;
}

/*div:empty:before {
  content: 'v ';
}*/

.loginInterface {
  height: 100vh;
  background:  linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url('/assets/background_images/equine_bg.png') no-repeat ;
  background-size: 75%;
  background-position: right 0px top 20px;
}
